*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    background-color: #000200;
    color: white;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap ;
}
.Logo{
    font-size: 49px;
    color: #FCCF03;
}
.Logo span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #00933b;
    font-size: larger;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
color: white;
text-decoration: none;
font-size: 18px;
}
nav ul li a:hover {

    background-color: #FCCF03;
    color: #031a0c;
}
.content{
margin: 150px auto;
width: 80%;
}
.image img{
    max-width: 300px;
    float: right;
    margin-left: 10px;
}
.header-text-left{
    text-align: justify;
    margin-right: 20px
  }
.header-text h1{
    margin-top: 10px;
    font-size: 40px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-text h1{
margin-bottom:  90px;

}

